$primary-color: #d90429;
$secondary-color: #f2f2f2;
.texts{
  h2{
    font-weight: bold;
    text-align: left;
  }
  p{
    font-weight: bold;
    text-align: left;
    font-size: 250px;

  }

 
}
.get-started-today {
  background-color: white;
  padding: 60px 20px;


  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    .form-container {
    
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
      0 6px 20px rgba(0, 0, 0, 0.19);

      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        .form-group {
          input {
            width: 100%;
            padding: 12px 16px;
            font-size: 16px;
            border-radius: 40px;
            border: 1px black solid ;
            margin-right: 20px;
       
          }
        }

        .cta-button {
          grid-column: 1 / -1;
          background-color: $primary-color;
          color: white;
          border: none;
          padding: 12px 24px;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .get-started-today {
    padding: 40px 20px;

    .content-wrapper {
      h2 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }

      .form-container {
        padding: 30px;

        form {
          grid-template-columns: 1fr;

          .form-group {
            input {
              font-size: 14px;
            }
          }

          .cta-button {
            font-size: 14px;
          }
        }
      }
    }
  }
}