.navbar {
    background-color: #333;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    gap: 20px;
  
    h3 {
      color: white;
      font-size: 1.2rem;
      transition: transform 0.3s ease-in-out;
      font-weight: bold;
    }
  
    button {
      background-color: #ff0000;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      
      &:hover {
        background-color: #ff6666;
        transform: scale(1.05);
      }
  
      &:active {
        background-color: #cc0000;
      }
    }
  
    &.hovered h3 {
      transform: scale(1.1);
      color: #00ff00;
    }
  }
  
  // Mobile Responsiveness
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      h3 {
        font-size: 1rem;
      }
      button {
        font-size: 0.9rem;
        padding: 8px 16px;
      }
    }
  }
  