.red{
  position: absolute;
 right: 0;
  bottom: 120px;
  width: 3%;

}
.hero{
  background-image: url("../images/heroBg.png");
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.black{
  position: absolute;
 left: 0;
  bottom: -90px;
  width: 3%;


}
.insta{
  position: absolute;
top: 0;
  right: -500;
  width: 10%;
}
.mag{
  position: absolute;
z-index: 3;
 left: 780px;
  width: 10%;
  bottom: 60px;
  animation: spin 15s linear infinite;


}

@keyframes spin {
 
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }}
  .line{
    position: absolute;
    bottom: 162px;
    left: 75px;
    width: 10%;
  }
.circle{
  position: absolute;
left: 0;
top: 70px;
width: 3%;
}
.circle2{
  width: 3%;
  position: absolute;
right: 50px;
top: 70px;
}
.animated3-image{
  z-index: -0;
  // width: 150px; /* Adjust the size as needed */
  animation: moveleft 2s infinite alternate;
}

@keyframes moveleft {
  0% {
      transform: translateX(460px);
  }
  100% {
      transform: translateX(600px); /* Move up 50px */
  }
}
.animated-image {
  z-index: -0;
  // width: 150px; /* Adjust the size as needed */
  animation: moveUpDown 6s infinite alternate;
}

@keyframes moveUpDown {
  0% {
      transform: translateY(200px);
  }
  100% {
      transform: translateY(-70px); /* Move up 50px */
  }
}
.animated-image2 {
  z-index: -0;
  // width: 150px; /* Adjust the size as needed */
  animation: moveUpDown2 1s infinite alternate;
}

@keyframes moveUpDown2 {
  0% {
      transform: translateY(100px);
  }
  100% {
      transform: translateY(-70px); /* Move up 50px */
  }
}
hr{
  border: 2px solid black;
  margin-bottom: 80px;

}


.promo-section {

 z-index: 50;
  position: relative;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 60px;

  .promo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: black;
    @media(min-width: 768px) {
      flex-direction: row;
    }
    
    .text-content {
      width: 65%;
      padding: 20px;
      margin-right: 400px;

      h3{
        font-weight: 700;
        font-size: 38px;
       width: 50%;
        padding-bottom: 5px;
      }
      .p1{
        span{
          color: #FF0000;
        }
        font-size: 20px;
      }
      .p2{
        b{color: #FF0000;}
        color: #FF0000;
        padding-top: 10px;
        padding-bottom: 30px;
      }

      .p4{
      width: 17%;
        b{
          color: #FF0000;
        }
      }
      .highlight {
        padding: 15px 0;
     
        font-weight: 700;
      }
      .b-Container{
        p{
          padding-top: 4px;
          padding-bottom: 4px;
          font-weight: bold;
        }
        padding-top: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
      }
      .cta-btn {
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 4px 50px;
        margin-top: 15px;
        border-radius: 5px;
        cursor: pointer;
        
        &:hover {
          background-color: #e63900;
        }
      }
    }
    
    .image-content {
 

      flex: 1;
      position: absolute;
   right: 100px; 
      bottom: -60px;
      
      img {
        z-index: 1;
        max-width: 100%;
        height: 470px;
        border-radius: 10px;
      }
    }
  }
}

/* Media query for 425px */
@media  (max-width: 425px) {
  .black{
    bottom: 90px;
  }
  .b-Container{
    p{
      font-size: 10px;
    }
  }
  .line{
    position: absolute;
    bottom: 192px;
    left: 85px;
    width: 20%;
  }
  .p3{
    font-size: 10px
          }
      
            img{
              width: 27%;
            }
                  
  .insta{
display: none;
  }
  .mag{
    display: none;
  }
  .promo-section .promo-content .text-content {
    margin-right: 10px;
    width: 90%;
  }
  
  .promo-section .promo-content .image-content {
    display: none;
  }
  
  /* Reduce font sizes */
  .promo-section .promo-content .text-content h3 {
    font-size: 40px;
  }
  
  .promo-section .promo-content .text-content .p1 {
    font-size: 30px;
  }
  
  .promo-section .promo-content .text-content .highlight {
    font-size: 70px;
    line-height: 0.6;
  }
  
  .promo-section .promo-content .text-content .cta-btn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

/* Media query for 320px */
@media  (max-width: 320px) {
  .insta{
    display: none;
      }
      .mag{
        display: none;
      }
  .promo-section .promo-content {
    flex-direction: column;
  }
  
  .promo-section .promo-content .text-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .promo-section .promo-content .image-content {
    // display: none;
  }
  
  /* Reduce font sizes further */
  .promo-section .promo-content .text-content h3 {
    font-size: 25px;
  }
  
  .promo-section .promo-content .text-content .p1 {
    font-size: 20px;
  }
  
  .promo-section .promo-content .text-content .highlight {
    font-size: 50px;
    line-height: 0.6;
  }
  
  .promo-section .promo-content .text-content .cta-btn {
    padding: 8px 16px;
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .red{
    width: 10%;
  }
  .circle{
    width: 5%;
  }
  .promo-section{
    font-size:10px; 
    h3{
      font-size: 15px;
      // font-weight: bold;
    }
    .p1{
      font-size: 13px; 
    }
    .p2{
      font-size: 10px; 
    }
  }  /* Maintain 10px for 425px screens */
}


@media screen and (max-width: 375px) {
  .insta{
    display: none;
      }
      .mag{
        display: none;
      }
  .red{
    width: 10%;
  }
  .circle{
    width: 5%;
  }
  .promo-section{
    font-size:5px; 
    .promo-content{
      .text-content{
        h3{
          font-size: 15px;
          // font-weight: bold;
        }
        .p1{
          font-size: 13px; 
        }
        .p2{
          font-size: 10px; 
        }
        .highlight{
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .hero{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .insta{
    display: none;
      }
      .mag{
        display: none;
      }
  .red{
    width: 10%;
  }
  .circle{
    width: 5%;
  }
  .promo-content{
    margin-left: 30px;
  }
  .promo-section{
    padding: 20px auto;
height: 0;
    font-size:5px; 
    .promo-content{
      .text-content{
        z-index: 100;
        width: 100%;
        .b-Container{
          padding-top: 5px;
          padding-bottom: 10px;
          margin-bottom: 15px;
        }
        h3{
          font-size: 15px;
          // font-weight: bold;
        }
      
        .p1{
          font-size: 13px; 
        }
        .p2{
          font-size: 10px; 
        }
        .p4{
          width: 24%;
        }
        img{
          width: 100%;
        }
        
      .cta-btn {
        font-size: 10px;
      }
      }
    }
  }
}


@media screen and (max-width: 320px) {
  .red{
    width: 10%;
  }
  .circle{
    width: 5%;
  }
  h3{
    font-size: 10px;
  }
  .promo-section{
    font-size:15px; 
    .promo-content{
      .text-content{
     
        h3{
          font-size: 15px;
          // font-weight: bold;
        }
        .p1{
          font-size: 13px; 
        }
        .p2{
          font-size: 10px; 
        }
        .highlight{
          font-size: 35px;
        }
      }
    }
  }
}
@media (max-width:1440px) {
 .mag{
  display: none;
 } 

 .promo-section{
  .promo-content{
    .text-content{
      .b450{
        width: 14%;
         }
    }
  }
  height: 50vh;
 }
}
@media (max-width:1080px) {
  .promo-pic{
    display: none;
  }
}