$primary-color: #d90429;
$secondary-color: #f2f2f2;
*{
  color: black;
  font-family: "Century Gothic";
}
#why{
  position: relative;
  h3{
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    padding: 7px 0;
    font-family: "poppins";
  }
}
.whyred{
  position: absolute;
  top: 0;
right: 0;
width: 4%;
 
}
.why-choose-us {
  background-color: white;
  padding: 60px 20px;

  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-content {
      flex: 1;
      padding-right: 40px;

      h2 {
        font-size: 32px;
        margin-bottom: 20px;
        b{
          font-family: "poppins";
        }
      }

      ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 30px;

        li {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

      .cta-button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    .right-content {
      flex: 1;
      text-align: right;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  #why{
    h3{
      font-size: 30px;
    }
  }
  .why-choose-us {
    padding: 40px 20px;

    .content-wrapper {
      display: flex;
     ;

      .left-content {
        padding-right: 0;
        margin-bottom: 40px;

        h2 {
          font-size: 24px;
        }

        ul li {
          font-size: 14px;
        }

        .cta-button {
          font-size: 14px;
        }
      }

      .right-content {
        text-align: center;
      }
    }
  }
}
@media (max-width:425px) {
  .content-wrapper{
    flex-direction: column-reverse;
  }
  #why{
    h3{
      font-size: 25px;
    }
    .whybud{
      font-size: 20px;
    }
    ul{
      text-align: left;
      li{
     text-align: left;
      }
    }
  }
  .right-content{
    width: 100%;
    img{
      width: 100%;
    }
  }
}
@media (max-width:414px) {
  .content-wrapper{
    flex-direction: column-reverse;
  }
  #why{
    h3{
      font-size: 25px;
      font-family: "poppins";
    }
    .whybud{
      font-size: 20px;
      b{
        font-family: "poppins";   
      }
    }
    ul{
      text-align: left;
      li{
     text-align: left;
      }
    }
  }
  .right-content{
    width: 100%;
    img{
      width: 100%;
    }
  }
}

@media (max-width: 820px) {
  #why{
    h3{
      font-size: 30px;
    }
  }
  .why-choose-us {
    padding: 40px 20px;

    .content-wrapper {
      display: flex;
     ;

      .left-content {
        padding-right: 0;
        margin-bottom: 40px;

        h2 {
          font-size: 24px;
        }

        ul li {
          font-size: 14px;
        }

        .cta-button {
          font-size: 14px;
        }
      }

      .right-content {
        text-align: center;
      }
    }
  }
}