@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family:"Century Gothic ";
  src: url(../../kungfu/public/Century\ Gothic.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Gothic+A1&display=swap');


.Amplify{
  font-family:"Montserrat";
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




@media only screen and (max-width: 375px) and (min-width: 320px) {


  .hero {
    height: auto;
    margin-bottom: 600px;
    width: 100%;
 

  }

  .red, .black, .insta, .mag, .line, .circle, .circle2 {
    display: none;
  }

  .hero{.promo-section {
    padding: 0;
    margin-bottom: 0;
  }}

  .hero{.promo-section {.promo-content { 
       position: absolute;
       top: -200px;
       left: -110px;
      
  width: 100%;
    flex-direction: column;
    align-items: flex-start;
    .image-content{
      width: 70%;
position:absolute;
top:500px;
left:200px;
img{
  width:90%;
  height:200px;
}

    }
  }}}

  .hero{.promo-section {.promo-content {.text-content {
    width: 90%;
    padding: 0;
    margin-right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{   width:80%;
      font-size: 20px;
      text-align: center;
    }
    .p1{
      width:70%;
      text-align:center;
      font-size: 14px; 
    }
    .p2{
     margin-top:300px;
  
    }
    .p4{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 70px;
width: 73%;
    }
    .b-Container{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 190px;
      p{
        font-size: 14px;
      }
      .cta-btn{
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}}}
.hero{.promo-section {.promo-content {.text-content {.text-content h3 {
    font-size: 24px;
    width: 90%;
  }
}}}}
 .hero{.promo-section {.promo-content {.text-content {.text-content h3 { .text-content .p1 {
    font-size: 16px;
  }}}}}}

 .hero{.promo-section {.promo-content {.text-content {.text-content h3 { .text-content .p4 {
    width: 100%;
  }}}}}

  .image-content {
    position: static;
    img {
      height: auto;
      max-width: 70%;
    }
  }
}}